/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "Cera Pro";
  src: url("cera.otf");
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url("Cera Pro Bold.otf");
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
.form-group {
  font-family: "Cera Pro";
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none !important;
  list-style: none !important;
  overflow-x: hidden !important;
}